body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  color: black;
  margin: 0;
}

.upperBlockBackground {
  background-color: #e1e1e1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.upperBlock {
  width: 67.5vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 20vh;
  justify-content: space-around;
  align-items: center;
}

p {
  margin: 4.2px 18px;
}

.title {
  width: 150px;
}

.instructions {
  font-size: 0.95rem;
}

.description {
  width: 200px;
}

.detail {
  font-size: 10px;
}

.value {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.separator {
  margin-top: 25px;
}

#cnab {
  font-size: 2.92rem;
  font-weight: 700;
}

#parser {
  font-size: 1.56rem;
  margin-left: 60px;
  font-weight: 600;
}

table {
  border: 1px solid black;
  padding: 2px 2px;
}

th,
td {
  border: 1px solid black;
  padding: 2px 10px;
}

label {
  display: none;
}

#id_file {
  /* display: none; */
}

input::file-selector-button,
#submitButton {
  font-weight: bold;
  color: dodgerblue;
  padding: 7.5px 18px;
  border: thin #1e90ff solid;
  border-radius: 3px;
  display: block;
  cursor: pointer;
  transition: 0.4s;
  background-color: #e5ebff;
}

input::file-selector-button:hover,
#submitButton:hover {
  /* filter: invert(0.12); */
  background-color: #3499ff;
  color: white;
  transition: 0.4s;
}

.lowerBlockBackground {
  background-color: #f0f0f0;
  height: 80vh;
  overflow-y: scroll;
}

.lowerBlock {
  padding-left: 0.75rem;
}

.lowerBlockBackground::-webkit-scrollbar {
  width: 5px;
}

.lowerBlockBackground::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.lowerBlockBackground::-webkit-scrollbar-thumb {
  background: #aeaeae;
}

.lowerBlockBackground::-webkit-scrollbar-thumb:hover {
  background: #555;
}
